// @import "bootstrap";
@import "simple_calendar";
@import "admin/labels";
@import "admin";
@import "task";
@import "sessions";
@import "users";


th,td{
  padding: 5px;
}

header{
  background-color: #AEC4E5;
  padding: 10px;
}

.top_menu{
  text-align: center;
}

.top_menu a {
  display: block;
  padding: 10px;
}